## 资金流入分析

In [1]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_excel('隆基绿能历史资金流向.xlsx',skiprows=2)

In [8]:
df.head(5)

,rq,spj,zf,zl,zl_zb,cdd,cdd_zb,dd,dd_zb,zd,zd_zb,xd,xd_zb
0,2023-05-04,3.58,0.0468,1014.13万,0.0038,-6384.10万,-0.0242,7398.23万,0.0281,7797.99万,0.0296,-8812.11万,-0.0334
1,2023-04-28,3.42,0.0000,-1464.30万,-0.0110,-4568.09万,-0.0342,3103.79万,0.0232,-2534.07万,-0.0190,3998.38万,0.0299
2,2023-04-27,3.42,0.0088,-3750.24万,-0.0241,-3439.89万,-0.0221,-310.35万,-0.0020,2863.54万,0.0184,886.69万,0.0057
3,2023-04-26,36.26,0.0357,2.93亿,0.0691,3.75亿,0.0885,-8230.52万,-0.0194,-1.82亿,-0.0429,-1.11亿,-0.0262
4,2023-04-25,35.01,-0.0337,-6.84亿,-0.2012,-4.43亿,-0.1301,-2.42亿,-0.0711,1.84亿,0.0541,5.00亿,0.1471

In [9]:
df['zl'].str.replace('万','W')

0       1014.13W
1      -1464.30W
2      -3750.24W
3          2.93亿
4         -6.84亿
         ...
99         4.38亿
100        4.49亿
101    -7817.81W
102    -1976.86W
103       -1.67亿
Name: zl, Length: 104, dtype: object

In [10]:
def DataCollation(df1):
    df1.loc[:,'zl']=df1.str.re
df.apply(DataCollation)

,rq,spj,zf,zl,zl_zb,cdd,cdd_zb,dd,dd_zb,zd,zd_zb,xd,xd_zb
0,2023-05-04,3.58,0.0468,1014.13万,0.0038,-6384.10万,-0.0242,7398.23万,0.0281,7797.99万,0.0296,-8812.11万,-0.0334
1,2023-04-28,3.42,0.0000,-1464.30万,-0.0110,-4568.09万,-0.0342,3103.79万,0.0232,-2534.07万,-0.0190,3998.38万,0.0299
2,2023-04-27,3.42,0.0088,-3750.24万,-0.0241,-3439.89万,-0.0221,-310.35万,-0.0020,2863.54万,0.0184,886.69万,0.0057
3,2023-04-26,36.26,0.0357,2.93亿,0.0691,3.75亿,0.0885,-8230.52万,-0.0194,-1.82亿,-0.0429,-1.11亿,-0.0262
4,2023-04-25,35.01,-0.0337,-6.84亿,-0.2012,-4.43亿,-0.1301,-2.42亿,-0.0711,1.84亿,0.0541,5.00亿,0.1471
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,2022-12-02,47.98,0.0206,4.38亿,0.0917,3.81亿,0.0798,5679.01万,0.0119,-1.09亿,-0.0228,-3.29亿,-0.0689
100,2022-12-01,47.01,0.0269,4.49亿,0.0989,4.64亿,0.1021,-1473.00万,-0.0032,-1.75亿,-0.0384,-2.75亿,-0.0605
101,2022-11-30,45.78,0.0182,-7817.81万,-0.0258,-1233.78万,-0.0041,-6584.03万,-0.0218,1.08亿,0.0355,-2934.49万,-0.0097
102,2022-11-29,44.96,0.0083,-1976.86万,-0.0068,-190.73万,-0.0007,-1786.13万,-0.0061,-24.80万,-0.0001,2001.67万,0.0069
103,2022-11-28,44.59,-0.0249,-1.67亿,-0.0555,-7398.89万,-0.0245,-9333.08万,-0.0309,-1.22亿,-0.0404,2.89亿,0.0958